* {
  padding: 0;
  margin: 0;
  outline: none; }

.main {
  background-image: url(/images/background.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  font-family: Arial, sans-serif;
  position: absolute; }
  .main #chatlog {
    height: calc(100% - 53px);
    overflow-y: scroll; }
    .main #chatlog .entry {
      display: inline-block;	
      background: white;
      padding: 5px 10px;
      margin: 5px 0 5px 5px;
      max-width: 80%;
      font-family: Arial, sans-serif; 
      border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
    }
      .main #chatlog .entry .name {
	font-size: 12px;
	font-weight: 600;
	color: #666;
      }
  .main .sender {
    position: absolute;
    width: 100%;
    bottom: 5px; }
    .main .sender #message {
      border: none;
      margin: 0 5px;
      padding: 10px 15px;
      font-size: 18px;
      width: calc(100% - 90px);
      border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px; }
    .main .sender #send {
      width: 40px;
      height: 40px;
      background-color: #AB47BC;
      border: none;
      cursor: pointer;
      border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%; }
      .main .sender #send img {
        width: 15px;
        margin-top: 3px; }
  .main .new_msg {
    position: fixed;
    right: 3px; 
    bottom: 54px; 
    color: white;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    background-color: #AB47BC;
    padding: 5px 10px;
    display: none;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
  }
  .entry p {
    width: 100%;
    word-wrap: break-word;
  }
  .main .visible {
    display: block;
  }

