* {
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    background-color: #4A148C;
    padding-top: 30px;
}

.logo {
    margin: auto;
    margin-bottom: 100px;
    font-family: Georgia, Arial, serif;
    font-size: 60px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.main .container {
    width: 250px;
    margin: auto;
}

.main .container p {
    margin-top: 10px;
    margin-bottom: 5px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.main .container #login,
.main .container #password {
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 18px;
    width: 225px;
    border: 2px solid #E91E63;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.main .container .wrong_format {
    background-color: #ffafca;
}

.main .container #submit {
    display: block;
    border: none;
    color: white;
    font-size: 14px;
    margin: 30px auto;
    padding: 10px 15px;
    background-color: #E91E63;
    cursor: pointer;
    border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.main .copyright {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
    width: 250px;
    margin: 70px auto 0px auto;
    text-align: center;
}

.main .copyright a {
    color: #E91E63;
}